.header {
  height: 100px;
  line-height: 100px;
  background-color: $header_btn_hover_fcolor;
  display: flex;
  position: fixed;
  z-index: 1;
  box-shadow: 2px 2px 3px $box-shadow-color;
  .theme {
    width: calc(100vw - 300px);
    &__title {
      margin-left: 10px;
      padding: 10px;
      font-size: 35px;
      font-family: impact;
      letter-spacing: 2px;
      text-decoration: none;
      color: $header_font_color;
    }
    &__title:hover {
      color: $userpage_IndexLike;
      transition: 0.3s;
    }
  }
  .h_items {
    width: 300px;
    height: 60px;
    margin: auto 0;
    line-height: 60px;
    margin-right: 30px;
    display: flex;
    justify-content: center;
    &__left_btn {
      @include header_btn;
    }
    &__left_btn:hover {
      @include header_btn_hover;
    }
    &__right_btn {
      @include header_btn;
    }
    &__right_btn:hover {
      @include header_btn_hover;
    }
  }
}
  
  