.main {
  background-color: $main_bcolor;
  display: flex;
  .side_bar {
    padding-top: 165px;
    width: 150px;
    background-color: cadetblue;
    text-align: center;
    overflow: scroll;
    .genre_name {
      color: $main-font-color;
      font-size: 25px;
      font-weight: bold;
      border-bottom: 1px solid $header_BackgroundFont_color;
      padding: 20px;
    }
    .genres {
      .genre_box {
        display: block;
        text-decoration: none;
        color: $header_BackgroundFont_color;
        border-bottom: 1px solid $header_BackgroundFont_color;
        padding: 20px;
      }
      .genre_box:hover {
        color: $header_btn_hover_fcolor;
        background-color: $header_btn_hover_bcolor;
      }
    }
  }
  .reviews {
    width: calc(100vw - 150px);
    overflow: scroll;
    .review_th {
      height: 60px;
      font-weight: bold;
      font-size: 30px;
      text-align: center;
      line-height: 60px;
      border-top: 1px solid $partition_color;
      border-bottom: 1px solid $partition_color;
    }
    h1 {
      text-align: center;
      font-size: 20px;
    }
    
    /* radio non-display */
    .container .radio {
      display: none;
    }
    /* tabs position */
    .container {
      display: flex;
      flex-wrap: wrap;
      // position: relative;
      .title1 {
        // border: 1px solid $header_btn_hover_bcolor;
        width: 50%;
        box-shadow    : 3px 3px 3px $box-shadow-color;
        background-color: $userpage_IndexLike;
      }
      .title1:active {
        box-shadow    : none;
        color         : $box-shadow-color;
        background    : $header_BackgroundFont_color;
      }
      .title2 {
        // border: 1px solid $header_btn_hover_bcolor;
        width: 50%;
        box-shadow    : 3px 3px 3px $box-shadow-color;
        background-color: $userpage_IndexLike;
      }
      .title2:active {
        box-shadow    : none;
        color         : $box-shadow-color;
        background    : $header_BackgroundFont_color;
      }
      .tab-title {
        border-bottom: none;
        text-align: center;
        display: table;
        padding: 15px 0;
      }
      .tab-body {
        width: 100%;
        height: 100%;
        border-radius: 0 .3em .3em .3em;
        padding: 1em;
        .body1 {
          width: 100%;
        }
        .body2 {
          width: 100%;
        }
      }
    }
    .container::after {
      content: "";
      width: 100%;
    }
    .container .tab-title {
      border-bottom: 2px solid transparent;
      top: 2px;
      left: 2px;
    }
    .container .tab-title:hover {
      cursor: pointer;
    }
    .container .tab-body {
      order: 1;
    }
      /* tab's body init */
      .add-control .tab-body > div {
      display: none;

    }

    /* selected tab's color change */
    .add-control .radio:checked + .tab-title {
      color: $main-font-color;
      border-bottom-color: $header_BackgroundFont_color;
    }
    .add-control #tab1:checked ~ .title1 {
      background: $main_bcolor;
    }
    .add-control #tab2:checked ~ .title2 {
      background: $main_bcolor;
    }
    /* tabs control */
    .add-control #tab1:checked ~ .tab-body > .body1 {
      display: block;
    }
    .add-control #tab2:checked ~ .tab-body > .body2 {
      display: block;
    }

    .review_boxes {
      padding: 1em;
    }
    .review_box {
      padding-right: 10px;
      padding-bottom: 10px;
      border-bottom: 1px solid $partition_color;
      .r_data {
        display: flex;
        justify-content: space-between;
        
        .left_box {
          display: flex;
          justify-content: space-between;
          padding: 10px;
          border-bottom: 1px solid $partition_color;
          border-right: 1px solid $partition_color;
          
          .r_id {
            text-decoration: none;
            color: $main-font-color;
            border-right: 1px solid $partition_color;
            padding-right: 5px;
          }
          .r_id:hover {
            @include review_a_hover;
          }
          .r_title {
            text-decoration: none;
            color: $main-font-color;
            border-right: 1px solid $partition_color;
            padding: 0 5px;
          }
          .r_genre {
            text-decoration: none;
            color: $main-font-color;
            border-right: 1px solid $partition_color;
            padding: 0 5px;
          }
          .r_genre:hover {
            @include review_a_hover;
          }
          .r_star {
            padding: 0 5px;
          }
        }
        .right_box {
          border-left: 1px solid $partition_color;
          border-bottom: 1px solid $partition_color;
          .r_name {
            .r_nickname {
              text-decoration: none;
              color: $main-font-color;
              margin-left: 5px;
            }
          }
          .r_nickname:hover {
            @include review_a_hover;
          }
          .r_date {
            padding-left: 5px;
          }
        }
      }
      .review {
        padding: 10px;
      }
      .review_image {
        width: 30vw;
      }
      .review_ed_like_box {
        display: flex;
        justify-content: space-between;
        .review_ed_btn {
          .review_edit_btn {
            text-decoration: none;
            @include edit_destroy_pagination_btn;
          }
          .review_destroy_btn {
            @include edit_destroy_pagination_btn;
          }
        }
        .fas.fa-heart {
          margin-left: 10px;
          color: plum;
        }
        .like_delete a {
          text-decoration: none;
          color: $main-font-color;
        }
        .far.fa-heart {
          margin-left: 10px;
          color: plum;
        }
        .like_post a {
          text-decoration: none;
          color: $main-font-color;
        }
      }
    }
    .pagination {
      padding: 0 1em 1em;
      span {
        padding-right: 5px;
      }
      .page a{
        @include edit_destroy_pagination_btn;
      }
      .first a{
        @include edit_destroy_pagination_btn;
      }
      .prev a{
        @include edit_destroy_pagination_btn;
      }
      .next a{
        @include edit_destroy_pagination_btn;
      }
      .last a{
        @include edit_destroy_pagination_btn;
      }
      a:hover {
        color: $review_hover_color;
        transition: 0.3s;
      }
    }
  }
}