.main {
  height: 1000px;
  background-color: rgb(178, 250, 223);
  display: flex;
  // padding-top: 250px;
  .side_bar {
    width: 150px;
    background-color: cadetblue;
    text-align: center;
    overflow: scroll;
    .genre_name {
      color: black;
      font-size: 25px;
      font-weight: bold;
      border-bottom: 1px solid white;
      padding: 20px;
    }
    .genres {
      .genre_box {
        display: block;
        text-decoration: none;
        color: white;
        border-bottom: 1px solid white;
        padding: 20px;
      }
      .genre_box:hover {
        color: rgb(171, 240, 171);
        background-color: rgb(69, 131, 69);
      }
    }
  }
  .reviews {
    width: calc(100vw - 150px);
    overflow: scroll;
    .review_th {
      height: 50px;
      font-weight: bold;
      font-size: 30px;
      text-align: center;
      line-height: 50px;
      border: 1px solid black;
    }
    h1 {
      text-align: center;
      font-size: 20px;
    }
    .review_box {
      border-right: 1px solid white;
      border-left: 1px solid white;
      border-bottom: 1px solid white;
      .r_data {
        display: flex;
        justify-content: space-between;
        
        .left_box {
          display: flex;
          justify-content: space-between;
          padding: 10px;
          border-bottom: 1px solid white;
          border-right: 1px solid white;
          
          .r_id {
            text-decoration: none;
            color: black;
            border-right: 1px solid white;
            padding-right: 5px;
          }
          .r_title {
            text-decoration: none;
            color: black;
            border-right: 1px solid white;
            padding: 0 5px;
          }
          .r_genre {
            text-decoration: none;
            color: black;
            border-right: 1px solid white;
            padding: 0 5px;
          }
          .r_star {
            padding: 0 5px;
          }
        }
        .right_box {
          border-left: 1px solid white;
          border-bottom: 1px solid white;
          
          .r_nickname {
            text-decoration: none;
            color: black;
            
          }
          .r_date {

          }
        }
      }
      .review {
        padding: 10px;
      }
      .review_image {
        
      }
    }
  }
}