.menu_box {
  padding-top: 100px;
  background-color: rgb(169, 233, 214);
  display: flex;
  justify-content: space-between;
  line-height: 50px;
  position: fixed;
  // z-index: 1;
  box-shadow: 2px 2px 3px gray;
  
  .menu_items {
    height: 50px;
    width: calc(100vw - 300px);
    display: flex;
    .menu_item {
      color: $header_font_color;
      text-decoration: none;
      font-size: 14px;
      margin: 0 2%;
    }
  }
  .form {
    width: 300px;
    text-align: center;
    // .search {
    //   padding: 10px;
    // }
  }
}

.post {
  padding-top: 150px;
  // height: 100px;
  background-color: rgb(226, 245, 214);
  text-align: center;
  
  &__btn {
    display: inline-block;
    padding: 0 20px;
    font-size: 40px;
    text-decoration: none;
    color: $header_font_color;
    // border: 1px solid $header_font_color;
    border-radius: 50%;
    transition: 0.3s;
    line-height: 100px;
    height: 100px;
  }
  &__btn:hover {
    color: rgb(171, 240, 171);
    background-color: rgb(69, 131, 69);
  }
}