.menu_box {
  padding-top: 100px;
  background-color: $main_bcolor;
  display: flex;
  justify-content: space-between;
  line-height: 60px;
  position: fixed;
  box-shadow: 2px 2px 3px $box-shadow-color;
  padding-left: 150px;
  .menu_items {
    height: 60px;
    width: calc(100vw - 550px);
    line-height: 60px;
    
    ul#rankings {
      display: flex;
      width: calc(100vw - 400px);
      white-space: nowrap;
      // -webkit-overflow-scrolling: touch;
      li {
        height: 60px;
      }
      .menu_item {
        @include menu_boxes;
      }
      .menu_item:hover {
        @include menu_boxes_hover;
      }
      .menu_item_genres {
        @include menu_boxes;
        
      }
      .menu_item_genres:hover {
        @include menu_boxes_hover;
      }
      #genre_rankings ul {
        margin-top: 0px;
        padding-top: 0px;
        height: 500px;
      }
      .hidden_ranking {
        height: 30px;
      }
      .hidden {
        // margin: 0px;
        
      }
      

    }
  }
  .form {
    width: 400px;
    text-align: center;
    #searching-form {
      width: 300px;
      padding: 5px;
      border-radius: 5px;
      border: 1px solid $header_BackgroundFont_color;
      box-shadow: $newedit_form_box_shadow;
    }
    .search-btn {
      @include ne_submit_btn;
      width: 50px;
      padding: 3px;
    }
    .search-btn:hover {
      @include ne_submit_btn_hover;
    }
  }
}

.post {
  padding-top: 165px;
  padding-bottom: 5px;
  // height: 100px;
  background-color: $header_btn_hover_fcolor;
  text-align: center;
  border-bottom: 1px solid $partition_color;
  &__btn {
    display: inline-block;
    padding: 0 20px;
    font-size: 40px;
    font-weight: bold;
    text-decoration: none;
    color: $header_font_color;
    border-radius: 50px;
    transition: 0.3s;
    line-height: 100px;
    height: 100px;
  }
  &__btn:hover {
    color: $header_btn_hover_fcolor;
    background-color: $header_btn_hover_bcolor;
  }
}