.contents.row {
  width: 100vw;
  height: 100vh;
  background-color: rgb(180, 223, 248);
  .container {
    padding-top: 100px;
    
    .new_post {
      width: 500px;
      margin: 0 auto;
      h3 {
      }
      .title_field {
        display: block;
        width: 400px;
        height: 50px;
      }
      .image_field {
        display: block;
        width: 400px;
        height: 50px;
      }
      .review_area {
        display: block;
        width: 400px;
        height: 300px;
      }
      .submit {
        display: block;
      }
    }
    .edit_post {
      width: 500px;
      margin: 0 auto;
      h3 {
      }
      .title_field {
        display: block;
        width: 400px;
        height: 50px;
      }
      .image_field {
        display: block;
        width: 400px;
        height: 50px;
      }
      .review_area {
        display: block;
        width: 400px;
        height: 300px;
      }
      .submit {
        display: block;
      }
    }
  }
}