.contents.row {
  width: 100vw;
  height: 100vh;
  background-color: rgb(180, 223, 248);
  .container {
    padding-top: 100px;
    
    // 新規投稿画面
    .new_post {
      @include new_edit_form;
      h3 {
        @include ne_h3;
      }
      .title_field {
        @include ne_title_field;
      }
      .form-group {
        @include ne_form-group;
      }
      .genre_check_boxes {
        @include ne_genre_check_boxes;
      }
      .genre_check_boxes input[type="checkbox"] {
        @include ne_genre_check_boxes_input_c;
      }
       /* --- チェックボックス直後のlabel --- */
       .genre_check_boxes input[type="checkbox"] + label {
        @include ne_genre_check_boxes_input_cl;
      }
       /* --- 選択されたチェックボックス直後のlabel --- */
       .genre_check_boxes input[type="checkbox"]:checked + label {
        @include ne_genre_check_boxes_input_ccl;
      }
       /* --- チェックボックス直後のlabelにマウスが乗った --- */
       .genre_check_boxes input[type="checkbox"] + label:hover {
        @include ne_genre_check_boxes_input_cl_hover;
      }
      .image_field {
        @include ne_image_field;
      }
      .review_area {
        @include ne_review_area;
      }
      .submit_btn {
        @include ne_submit_btn;
      }
      .submit_btn:hover {
        @include ne_submit_btn_hover;
      }
    }



    // 編集画面
    .edit_post {
      @include new_edit_form;
      h3 {
        @include ne_h3;
      }
      .title_field {
        @include ne_title_field;
      }
      .form-group {
        @include ne_form-group;
      }
      .genre_check_boxes {
        @include ne_genre_check_boxes;
      }
      .genre_check_boxes input[type="checkbox"] {
        @include ne_genre_check_boxes_input_c;
      }
       /* --- チェックボックス直後のlabel --- */
       .genre_check_boxes input[type="checkbox"] + label {
        @include ne_genre_check_boxes_input_cl;
      }
       /* --- 選択されたチェックボックス直後のlabel --- */
       .genre_check_boxes input[type="checkbox"]:checked + label {
        @include ne_genre_check_boxes_input_ccl;
      }
       /* --- チェックボックス直後のlabelにマウスが乗った --- */
       .genre_check_boxes input[type="checkbox"] + label:hover {
        @include ne_genre_check_boxes_input_cl_hover;
      }
      .image_field {
        @include ne_image_field;
      }
      .review_area {
        @include ne_review_area;
      }
      .submit_btn {
        @include ne_submit_btn;
      }
      .submit_btn:hover {
        @include ne_submit_btn_hover;
      }
    }
  }
}