$header_font_color: rgb(12, 117, 3);
$header_btn_hover_bcolor: rgb(69, 131, 69);
$header_btn_hover_fcolor: rgb(171, 240, 171);

// $header_font_color: rgb(236, 243, 235);
// $header_btn_hover_bcolor: rgb(241, 247, 241);
// $header_btn_hover_fcolor: rgb(249, 250, 249);