$header_font_color: rgb(12, 117, 3);
$header_btn_hover_bcolor: rgb(12, 117, 3);
$main_bcolor: rgb(237, 243, 241);
// $main_bcolor: white;
// $header_font_color: rgb(236, 243, 235);
$header_btn_hover_fcolor: rgb(237, 243, 241);
$header_BackgroundFont_color: rgb(237, 243, 241);
$partition_color: white;
$main-font-color: black;
$box-shadow-color: gray;
$userpage_IndexLike: rgba(12, 117, 3, 0.5);