.header
  .theme
    = link_to root_path, class: "theme__title" do
      Let's Anime Review!!
  .h_items
    = link_to "#", class: "h_items__left_btn" do
      新規登録
    = link_to "#", class: "h_items__right_btn" do
      ログイン