.reviewPostBox
  - if user_signed_in?
    .post
      = link_to "Let's Review!!", new_post_path, class: "post__btn"
  - else
    .post
      = link_to "Let's Sign Up!!", new_user_registration_path, class: "post__btn"
  .reviews
    .review_th Reviews
    .review_boxes
      = render "post"
    = paginate(@posts)