.reviews
  .review_th REVIEWS
  .review_box
    .r_data
      .left_box
        = link_to "#", class: "r_id" do
          No.1
        = link_to "#", class: "r_title" do
          化物語
        = link_to "#", class: "r_genre" do
          恋愛 ギャグ SF
          -# 中間テーブルに関わる引数2つ
        .r_star ⭐️⭐️⭐️⭐️

      .right_box
        = link_to "#", class: "r_nickname" do
          ak
        .r_date 2020/04/08/18:37
    .review 面白い